<%= form_for @changeset, @action, fn f -> %>
  <%= text_input f, :title, placeholder: "Add To-Do item",
    class: "new-todo", autofocus: "" %>
  <div style="display: none;"> <%= submit "Save" %> </div>
<% end %>
